/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue-purple : hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Red Hat Display](https://fonts.google.com/specimen/Red+Hat+Display)
- Weights: 500, 700, 900 */


*,*::before, *::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img{
  display: block;
  max-width: 100%;
}

body{
 font-family: 'Red Hat Display', sans-serif;
 background: hsl(225, 100%, 94%);
height: 100vh
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.card{
display:flex;
justify-content: center;
align-items: center;
background: url('./images/pattern-background-desktop.svg') no-repeat ;
background-size: contain;
background-position: top;
max-width: 100%;
height: inherit;

}
 
.container{
background: hsl(225, 100%, 98%);
min-height:70%;
max-width: 20rem;
border-radius:10px;
 /* border: 1px solid red; */
}

header img{
  border-top-left-radius:10px;
border-top-right-radius:10px;
}
